.img{
    width: 100%;
    height: 600px;
}

.banner{
    
    filter: grayscale(40%);
    padding-bottom: 100px;

    
}
.text{
font-size: 100px;
font-family: 'Yuji Boku', serif;
color: rgb(73, 26, 26);
}

@media only screen and (max-width: 2500px) {
  .banner {
      background-image: url("https://dk8nafk1kle6o.cloudfront.net/Images/Shared/Pages/Banner_travelGuide_1576175300.jpg");
    
  }
}
